* {
    padding: 0;
}

.calculator {
    margin: 0 auto;
    height: 750px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5%;
    background-color: rgba(128, 128, 128, 0.288);
    display: flex;
    flex-direction: column;
}

.calculator > div {
    filter: drop-shadow(5px 5px 1px rgb(66, 66, 66));
}

.calculator-name {
    text-align: center;
    filter: drop-shadow(1px 1px 1px gray)
}

.calculator-screen {
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    width: 90%;
}

.calculator-screen > input {
    border: none;
    font-size: 100%;
    height: 125px;
}

.calculator-screen > input:disabled {
    background-color: white;
    color: black;
}

.calculator-input {
    text-align: right;
    width: 85%;
}

.calculator-operator {
    text-align: center;
    width: 15%;
}

.calculator-numpad {
    margin-top: 20px;
    display: flex;
    align-content: center;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.numpad-key {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 20%;
    background-color: white;
    font-size: 32px;
    color: black;
    margin: 20px;
    height: 60px;
    width: 70px;
}

.numpad-key:active {
    filter: drop-shadow(0px 0px 5px rgb(66, 66, 66));
    transform: translate(5px, 5px);
}

.numpad-symbol {
    background-color: black;
    color: white;
}

.numpad-equal {
    background-color: orangered;
}

.numpad-clear, .numpad-backspace {
    background-color: orange;
}