.calculator {
    margin: 0 auto;
    height: 750px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
}

.calculator-screen{
    margin: 50px auto;
    padding: 0 5%;
    border: 1px solid black;
    width: 70%;
    height: 125px;
}

.calculator-input {
    border: none;
    text-align: right;
    font-size: 72px;
    padding: 0;
    width: 100%;
    height: 100%;
}

.calculator-numpad {
    margin-top: 70px;
    display: flex;
    align-content: center;
    align-items: end;
    flex-direction: column;
    flex-wrap: wrap;
}

.numpad-key {
    display: inline-block;
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}