.calculator {
    margin: 0 auto;
    height: 750px;
    width: 500px;
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
}

.calculator-screen {
    margin: 10% auto;
    padding: 0;
    display: flex;
    border: 1px solid black;
    width: 90%;
}

.calculator-screen > input {
    border: none;
    font-size: 72px;
}

.calculator-input {
    text-align: right;
    width: 85%;
}

.calculator-operator {
    text-align: center;
    width: 15%;
}

.calculator-numpad {
    margin-top: 70px;
    display: flex;
    align-content: center;
    align-items: end;
    flex-direction: column;
    flex-wrap: wrap;
}

.numpad-key {
    border: none;
    background-color: transparent;
    height: 100px;
    width: 100px;
}